{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-5 text-white">My Certificates</h1>
    <div class="row g-4">
        {% for cert in certificates %}
        <div class="col-md-4">
            <div class="card experience-card shadow-lg h-100">
                <a href="{{ cert.url }}" class="text-decoration-none text-dark" target="_blank">
                    <div class="card-body text-center">
                        <h2 class="card-title display-5 mb-3">{{ cert.title }}</h2>
                        <p class="card-text">{{ cert.description }}</p>
                        <p class="card-text">{{ cert.click }}</p>
                        <i class="{{ cert.icon }} fa-3x"></i>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}